

<navbar></navbar>
<main>
    <router-outlet></router-outlet>
</main>

<!-- <div class="row columns">
  <button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

  <form *ngIf="(user | async)?.uid">
    <input type="text" id="message" placeholder="What is it that you do?" ng-model= />
    <input type="text" id="message" placeholder="What is it that you do?" (keyup.enter)="Send($event.target.value)" />
    <button (click)="addPokemon()">Submit</button>
  </form>

  <div id="details-container">
      <p *ngFor="let item of items | async"><img src="">{{item.message}}</p>
  </div>
</div>
 -->
