body {
    background-color:#EBEBEB;
    padding-top: 5em;
}
* {
    font-family: 'Raleway';
}

.loader{
  width: 100%;
  margin: 0 0 2em;
  height: 100px;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.7em;
  margin-top: 10%;
}

.loading-img{
  width: 10%;
}

.loading-text{
  margin: -23px 0 10px 13px;
}

button {
    background:#008FEF;
    color:white;
    padding: 1.2em;
    width:300px;
    text-align:center;
    font-size:1.2em;
    margin-bottom: 30px;
    cursor:pointer;
}

@media only screen and (max-width: 500px){
  body{
    padding-top: 3em;
  }
  .loader{
    // margin-top: 40px;
    margin-top: 50%;
    font-size: 1em;
  }
  .loading-img{
    width: 45%;
  }
  .loading-text{
    font-size: 2em;
  }
}
